<br>
<div class="container">
    <div class="row">
        <div class="col-lg-9 mx-lg-auto">
            <div class="card shadow">
                <div class="card-body">
                    <p class="lead fw-bold">
                        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>